/* Styles de base */
body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ajustez la hauteur de la page */
    display: flex;
    flex-direction: column;
}

#nav{
    display: flex;
    width: 100%;
    height: 7vh;
    background-color: black;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 2.5vh;
}

.sub-nav{
    transition: 1s;
    text-decoration: none;
    color: white;
    margin: 0 15px 0 15px ;
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.sub-nav:hover{
    background-color: rgb(43, 43, 43);
}

#slider {
    flex: 93%; /* Le slider prend 93% de la hauteur de la page */
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

    
/* Styles spécifiques au slider */
.swiper-container {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    flex-direction: column; /* Permet le défilement vertical */
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #333;
    background-image: url("../img/wallpaper/KT.png");
    background-position: 100% 1%;
    background-repeat: no-repeat;
    background-size: 120%;
    color: #fff;
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
}

.swiper-pagination-bullet {
    width: 30px; /* Largeur des traits */
    height: 1px; /* Hauteur des traits */
    background-color: #fff; /* Couleur blanche */
    margin: 10px 8px!important; /* Espacement entre les traits */
    opacity: 0.3; /* Opacité par défaut des traits */
}

.swiper-pagination-bullet-active {
    opacity: 1; /* Opacité du trait actif (actuellement sélectionné) */
}

.chart-container{
    width: 100%;
}

#exp-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    padding-bottom: 4vh;
}

#exp-div .explication{
    font-size: large;
    display: grid;
    width: 47%;
    text-align: left;
    grid-template-rows: 1fr auto;
    margin: 10px;
    background-color: rgb(0 0 0 / 56%);
    box-shadow: 4px 4px 33px 0px #292929;
    border-radius: 5%;
    text-align: center;
}

#exp-div .explication img{
    width: 33%;
    margin-left: 2%;
}

#regiments{
    height: -webkit-fill-available;
    width: 94%;
}

.RS{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.RS > div{
    padding: 5px;
    margin: 10px;
    background-color: rgb(0 0 0 / 56%);
    box-shadow: 4px 4px 33px 0px #292929;
    border-radius: 5%;
}

a{
    color: #3dff3d;
}

.link-container {  
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "img text"
      "img link";
}
.link-container .img { 
    grid-area: img; 
    width: 90%;     
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-container .text { grid-area: text; }
.link-container .link { grid-area: link; }
  
#Regiments{
    background-image: url("../img/wallpaper/firefly.jpeg");
}

#equipe{
    background-image: url("../img/wallpaper/squad1.png");
    background-color: #0000005a;
    background-blend-mode: multiply;
}

#rejoindre{
    background-image: url("../img/wallpaper/e8_pm.png");
    background-color: #0000003b;
    background-blend-mode: multiply;
}

#contact{
    background-image: url("../img/wallpaper/arma2.png");
    background-color: #0000003b;
    background-blend-mode: multiply;
    background-position: 3% 7%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.inv-svg-color{
    -webkit-filter:invert(1);
    filter:invert(1);
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
}